/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{  

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{  

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}


.listArea
{
    background-color: rgba(255, 255, 255, 0.801);
    height: fit-content;
    border-radius: 10px 0px 0px 10px;
}

.foreFront
{
    width: fit-content;
    border-radius: 10px;
}

.containerSize
{
    height: 100%; 
    min-height: fit-content;
}

.stretched
{
    width: 100%;
}

.toDoArea
{
    background-color: rgba(255, 255, 255, 0.637);   
    border-radius: 0px 10px 10px 0px;
    width: fit-content;
}

.list
{
    height: 55vh;
}

.desktop
{
    background-image: url(../../../assets/image.jpg);
    height: 100%;
    color: black;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head
{
    font-weight: bold; color:rgb(161, 93, 37);
}

.border-color
{
    border-color: rgb(161, 93, 37);
    outline-color: rgb(161, 93, 37);
}

.item
{
    min-height: fit-content;
    cursor: pointer;
}

.item:hover
{
    background-color: rgb(161, 93, 37,0.5);
}

.fontSize
{
    font-size: 1.1rem;
}

.task
{
    background-color: white;   
    cursor: pointer;
}

.delete
{
    background-color: red;
    color: whitesmoke;
}

.edit
{
    background-color: rgb(161, 93, 37);
    color: whitesmoke;
}

button
{
    /* border-color: rgb(43, 201, 190);
    outline-color: rgb(43, 201, 190); */
    background-color: rgb(143, 81, 31);
    border-color: rgba(131, 68, 17, 0.712);
    color: whitesmoke;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover
{
    background-color: rgb(114, 62, 19) ;
    border-color: rgba(99, 53, 16, 0.712);
}
