<div class="desktop">
    <app-header></app-header>    

<div class="container-fluid w-100 my-auto">
    <div class="row containerSize w-100 m-0">
        <div class="col-2"></div>
        <div class="col-8 foreFront my-auto px-0">
            <div class="row">
                <div class="col-5 listArea m-0 pt-4 pb-4 pl-4 ">
                    <div class="logo">
                        <h3 class="head fontSize">LISTS</h3>
                    </div>
                    <div class="overflow-auto w-100 mt-3 mr-3 mb-2 list">                    
                        <ul #item class="nav stretched">
                            <li *ngFor="let item of arr;let i = index" class="nav-item rounded stretched">
                                <div class="item py-2 pl-2" (click)="itemClick(i)" >
                                    {{item.name}}
                                    <button class="btn rounded py-0 px-1 mx-1 float-right delete" (click) = 'deleteTask(i)'><i class="fa fa-trash"></i></button>
                                    <button class="btn rounded py-0 px-1 float-right edit" (click) = 'editTask(i)'><i class="fa fa-pencil-square-o"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="btn rounded-circle float-left" (click)='newList()'><i
                        class="fa fa-plus"></i></button>
                </div>

                <div class="col-7 toDoArea pt-4 pb-4 pr-4">
                    <app-to-do-child [data]="data"></app-to-do-child>
                </div>
            </div>
        </div>
        <div class="col-2"></div>

    </div>
</div>
</div>