
input
{
    background-color: transparent;
    color: black;
    font-family: sans-serif;
    border-color: rgb(114, 62, 19);
}

input:focus
{
    background-color: transparent;
    border-color: rgb(114, 62, 19);
}

.stretched
{
    width: 100%;
}

.desktop
{
    background-color: rgb(241, 238, 236);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-submit
{
    background-color: forestgreen
}

.btn-cancel:hover
{
    background-color: rgb(114, 62, 19) ;
    border-color: rgba(99, 53, 16, 0.712);
    color: whitesmoke;
    
}

.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
}