.desktop
{
    background-color: rgb(43, 201, 190);
}

.sizing
{
    height: 100%; 
    min-height: fit-content;
}

.foreFront
{
    background-color: white;
    min-width: fit-content;
    max-width: 60%;
    max-height: 100%;
}

.head
{
    font-weight: bold; color:rgb(43, 201, 190);
}

.border-color
{
    border-color: rgb(43, 201, 190);
    outline-color: rgb(43, 201, 190);
}

.error
{
    color:red;
}