<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <span class="navbar-brand" style="cursor: pointer;">YouDo</span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav w-100">
        <li class="nav-item active">
            <a class="nav-link" href="#" (click)="$event.preventDefault()">Home <span class="sr-only">(current)</span></a>
        </li>
        <div ngbDropdown class="ml-auto" display="dynamic" placement="bottom-right">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
          <i class="fa fa-user"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Settings</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">My Profile</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="#" (click)="signOut()">Sign Out</a>
        </div>
        </div>
                
      </ul>
      
      
    </div>

    
  </nav>